
@{ 
  //  Layout = "/Views/_OldShared/_LayoutIframe.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2> Usuario Contraseña</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Usuario</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Contraseña</strong>
            </li>
        </ol>
    </div> 
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    @using (Html.BeginForm())
    {

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                   
                    <div class="alert alert-success">

                        Dentro de los próximos minutos se enviará un código para restablecer su contraseña

                    </div>
                </div>
            </div>
        </div>
    }

</div>

