@model IST.RRHH.Web.Models.CargoModel
@{
    ViewBag.Title = "Crear nuevo";
    ViewBag.pTitle = "Crear nuevo";
    ViewBag.pageTitle = "Projects";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@section styles{

    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- dropzone css -->
    <link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Nuevo Cargo</h4>
           

                @using (Html.BeginForm("Create", "Cargo", FormMethod.Post))
                {

            <div class="mailbox">
                <!-- BEGIN mailbox-toolbar -->

                <div class="mailbox-toolbar">
                    <div class="mailbox-toolbar-item"><span class="mailbox-toolbar-text">Ingrese nuevo Cargo </span></div>
                    <div class="mailbox-toolbar-item">
                        <hr/>
                    </div>
                </div>
                <!-- END mailbox-toolbar -->
                <!-- BEGIN mailbox-body -->
                <div class="mailbox-body">
                    <div class="mailbox-content">
                        <!-- BEGIN scrollbar -->
                        <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
                            <div class="mailbox-form">

                                <div class="row mb-4">
                                    <label for="projectname" class="col-form-label col-lg-2">Cargo</label>
                                    <div class="col-lg-10">

                                        @Html.TextBoxFor(c => c.Nombre, new { @class = "form-control" })
                                    </div>
                                </div>
                                 

                            </div>
                        </div>
                        <!-- END scrollbar -->
                    </div>
                </div>
                 

                <div class="row justify-content-end">
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                </div>

                 


            </div>

                }
            </div>
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- bootstrap datepicker -->
<script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<!-- dropzone plugin -->
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>

<script src="~/assets/js/app.js"></script>



