@model IST.RRHH.Web.Models.TipoNotificacionViewModel

@section Styles {
    <link href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/js/demo/table-plugins.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-12">
        <h2>Mantenedor de Tipo de Notificacion</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "TipoNotificacion")" style="color: #702fa0">Tipo de Notificacion</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Lista de Tipo de Notificacion</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInUp">

    <div id="" class="mb-5">
        <div class="row">
            <div class="col-6">
                <h4>Tipo de Notificacion</h4>
                <p>Mantenedor de Tipo de Notificacion</p>

            </div>
            <div class="col-6">
                <a href="@Url.Action("Create", "TipoNotificacion")" class="btn float-end" style="margin-top: 20px; background-color: #702fa0; color: white">Crear nuevo registro</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table id="datatableDefault" class="table text-nowrap w-100">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>

                            <th>Accion</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaTipoNotificacion)
                        {
                            <tr>
                                <td>@item.TipoNotificacionId</td>
                                <td>@item.Nombre</td>


                                <td><a type="button" href="~/TipoNotificacion/Edit/@item.TipoNotificacionId" class="btn btn-sm" style="background-color: #702fa0; color: white">Ir a editar registro</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
